{% extends 'staffweb/plantilla.html' %}
{% load static %}

{% block head %}
<div class="contenido">

  <!-- STATIC CSS -->
  <link rel="stylesheet" href="{% static 'staffweb/css/perfil.css' %}">
  <script src="{% static 'staffweb/js/inicio_perfil.js' %}"></script>
{% endblock head%}

{% block principal %}

  <!-- Main content -->
<main class="contenido">
    <h1>Perfil</h1>
    <p class="subtitulo">Aquí puedes ver y modificar tus datos</p>

    <div class="perfil-caja">
      <div class="login-left">
        <div class="formulario">
          <h2>Mis datos</h2>

          <label>Nombre Completo</label>
          <input type="text" value="Luciano Ignacio" disabled>

          <label>Apellidos</label>
          <input type="text" value="Torrejón Díaz" disabled>

          <label>RUT</label>
          <input type="text" value="19.753.951-K" disabled>

          <label>Número de celular</label>
          <input type="text" value="945838563">

          <label>Dirección</label>
          <input type="text" value="Las Colombas 1234, Quilicura">
      </div>
    </div>

    <div class="perfil-foto">
      <img src="{% static 'staffweb/img/user.jpg' %}" alt="Foto de perfil">
      <button>Cambiar foto de perfil</button>
    </div>
  </div>
</main>
{% endblock principal %}