{% extends 'staffweb/plantilla.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'staffweb/css/perfil.css' %}">
  <script src="{% static 'staffweb/js/inicio_perfil.js' %}"></script>
  <title>Perfil</title>
{% endblock head %}

{% block principal %}
<div class="header">
  <h1>Perfil</h1>
  <p>Aquí puedes editar los datos de usuario</p>
</div>

<div class="perfil-formulario">
    <form method="post" action= "{% url 'perfil' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Foto de perfil -->
        <button type="button" class="btn_cancelar_imagen" id="btn_cancelar_imagen">Cancelar cambio de imagen</button>
        <div class="foto-seccion">
            <img alt="Foto de perfil" class="foto hidden" id="imagen_nueva">
            <img src="{{url_imagen_usuario}}" alt="Foto de perfil" class="foto" id="imagen_actual">
            <label class="btn-foto" for="imagen_input">Cambiar Imagen</label>
            <input type="file" name="imagen" id="imagen_input" class="hidden" accept="image/*"></input>
        </div>

        <div class="fila">
            <div class="campo">
                <label for="nombres">Nombres</label>
                <input type="text" id="nombres" value="{{ nombre_usu }} " readonly>
            </div>
            <div class="campo">
                <label for="apellidos">Apellidos</label>
                <input type="text" id="apellidos" value="{{ apellido_usu }} " readonly>
            </div>
        </div>

        <div class="fila">
            <div class="campo">
                <label for="rut">RUT</label>
                <input type="text" id="rut" value="{{ usuario_id }}" readonly>
            </div>
            <div class="campo">
                <label for="correo">Correo Electrónico</label>
                <input type="email" id="correo" value="{{ correo_usu }}" readonly>
            </div>
        </div>

        <div class="fila">
            <div class="campo">
                <label for="cargo">Cargo</label>
                <input type="text" id="cargo" value="{{ cargo_usu }}" readonly>
            </div>
            <div class="campo">
                <label for="rol">Rol</label>
                <input type="text" id="rol" value="{{ nombrerol }}" readonly>
            </div>
            <div class="campo">
                <label for="celular">Número de Celular</label>
                <input type="text" id="celular" name="celular" value="{{ celular }}">
            </div>
        </div>

        <div class="fila">
            <div class="campo">
                <label for="direccion">Dirección</label>
                <input type="text" id="direccion" name="direccion" value="{{ direccion }}">
            </div>
        </div>

        <div class="acciones">
          <a href="{% url 'recuperar_pin' %}" class="btn-secundario">Recuperar PIN</a>
          <a href="{% url 'cambiar_contrasena' %}" class="btn-secundario">Cambiar Contraseña</a>
          <a href="{% url 'cambiar_pin' %}" class="btn-secundario">Cambiar Pin</a>
          <button type="submit" class="btn-guardar">Guardar Cambios</button>
        </div>
    </form>
</div>
{% endblock principal %}
