{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ICON -->
    <link rel="icon" type="image/png" href="{% static 'staffweb/img/logo_grande.png' %}" />
    <!-- STATIC CSS -->
    <link rel="stylesheet" href="{% static 'staffweb/css/recuperar_contrasena.css' %}">

    <title>Recuperar Contraseña - ManaStaff</title>
</head>
<body>
    
    <div class="container">
      <div class="recover-box">

        <!--Sección izquierda, formulario de recuperación-->
        <div class="recover-left">
          <img src="{% static 'staffweb/img/logo.png' %}" alt="Logo ManaStaff">
          <h2>Recuperar contraseña</h2>
          <p>Introduce tu correo electrónico y te enviaremos un código para restaurar tu cuenta.</p>

          <form method="POST" id="recuperarForm">
            {% csrf_token %}
            <label for="email">Correo electrónico</label>
            <input type="email" id="email" name="email" placeholder="tu@correo.com" required>
            <button type="submit" id="submitButton">Enviar código</button>
          </form>
          <a class="back-login" href="{% url 'index' %}">Volver al inicio de sesión</a>
        </div>

        <!--Sección derecha, logo-->
        <div class="recover-right">
          <div class="logo-box">
            <div class="img-logo"></div>
          </div>
          <div class="brand-text">
            <h1>MANA</h1>
            <span>STAFF</span>
          </div>
        </div>
      </div>
    </div>
    <!-- Mensaje de éxito -->
    <div id="successMessage" class="success-message">
        Correo enviado con éxito.
    </div>
    <!-- Overlay de carga -->
    <div id="loadingOverlay" class="loadingOverlay">
      <div class="spinnerGlobal"></div>
      <p class="loading-text">Enviando correo...</p>
    </div>

    <script src="{% static 'staffweb/js/recuperar_contrasena.js' %}" defer></script>
</body>
</html>