<ion-content fullscreen>
  <!-- header lista (iniciodoc / iniciosoli / inicioavisos) -->
  <div class="ms-header" *ngIf="!isDetailHeader">
    <div class="header-container">
      <div class="header-left">
        <div class="company-logo">
          <img src="assets/img/logo_grande.png" alt="Logo empresa" class="company-logo-img" />
        </div>
      </div>
      <div class="header-right">
        <h1 class="header-title">{{ pageTitle }}</h1>
      </div>
    </div>
  </div>

  <!-- header detalle -->
  <div class="ms-header-detail" *ngIf="isDetailHeader">
    <div class="detail-left">
      <ion-button fill="clear" class="back-button" (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </div>
    <div class="detail-center">
      <h1 class="header-title-detail">{{ pageTitle }}</h1>
    </div>
    <!-- vacío para equilibrar -->
    <div class="detail-right"></div>
  </div>

  <!-- contenido -->
  <div class="tabs-content">
    <ion-router-outlet></ion-router-outlet>
  </div>

  <!-- menú inferior -->
  <div class="bottom-nav">
    <div
      class="bottom-nav-item"
      [class.bottom-nav-active]="activeTab === 'noticias'"
      (click)="goTo('noticias')">
      <ion-icon name="megaphone-outline"></ion-icon>
      <span>Noticias y avisos</span>
    </div>

    <div
      class="bottom-nav-item"
      [class.bottom-nav-active]="activeTab === 'documentos'"
      (click)="goTo('documentos')">
      <ion-icon name="document-text-outline"></ion-icon>
      <span>Documentos</span>
    </div>

    <div
      class="bottom-nav-item"
      [class.bottom-nav-active]="activeTab === 'solicitudes'"
      (click)="goTo('solicitudes')">
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
      <span>Solicitudes</span>
    </div>

    <div
      class="bottom-nav-item"
      [class.bottom-nav-active]="activeTab === 'configuracion'"
      (click)="goTo('configuracion')">
      <ion-icon name="settings-outline"></ion-icon>
      <span>Configuración</span>
    </div>
  </div>
</ion-content>